<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/darktheme.css" />
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="/login" class="active">Login</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/recommendations">Recommendations</a></li>
      </ul>
    </div>

    <div class="content">
      <h1>Login</h1>
      {% if error %}
      <p class="error">{{ error }}</p>
      {% endif %}
      <form action="/login" method="post">
        <label>Username:</label>
        <input type="text" name="username" required /><br />
        <label>Password:</label>
        <input type="password" name="password" required /><br />
        <input type="submit" value="Login" />
        <input typr = 
t      </form>
      <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
  </body>
</html>
